body {
  margin: 0;
  height: 100vh;
}

.app {
  background: #263238;
  color: #eceff1;
  padding: 0.5rem;
}

main {
  min-height: 100vh;
}

a {
  color: #c8b900;
  text-decoration: none;
}

a:hover {
  color: #ffff72;
}

a:visited {
  color: #ffce72;
}
